table {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

.buttonNew {
    width: 101px;
    height: 32px;
    background-color: #25D366;
    border-radius: 50px;
    border: 1px solid #25D366;
    color: #fff;

}

.button-drop {
    background: #E63020;
    border: 1px solid #E63020;
    border-radius: 50px;
    width: 114px;
    height: 40px;
}

.iconEye {
    font-size: 13px;
}