<p class="container-toolbar">
    <mat-toolbar>
        <button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon class="icon-menu"><i class="fa-solid fa-bars"></i></mat-icon>
        </button>

        <img src="assets/LOGO.png" alt="">

        <button class="button-exit" aria-label="Example icon-button with share icon">
            <div class="container-exit">
                <mat-icon><i class="fa-solid fa-power-off"></i></mat-icon>
                <p>Salir</p>
            </div>
        </button>
    </mat-toolbar>
</p>

