<mat-tab-group [selectedIndex]="0" animationDuration="2ms" #tabGroup class="mb-4">
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="icon-tab"><i class="fa-solid fa-wrench"></i></mat-icon>
            Preparacion
        </ng-template>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="icon-tab"><i class="fa-solid fa-warehouse"></i></mat-icon>
            Almacenamiento
        </ng-template>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="icon-tab"><i class="fa-solid fa-tag"></i></mat-icon>
            En venta
        </ng-template>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="icon-tab"><i class="fa-regular fa-money-bill-1"></i></mat-icon>
            Vendidos
        </ng-template>
    </mat-tab>
</mat-tab-group>
